@page "/"
@inject Localizer<SharedResource> Localizer

<PageTitle>@Localizer["Welcome to Using Blazor Tips"]</PageTitle>

<h1>Welcome to <br />Using Blazor Tips</h1>

<p> @Localizer["This is a collection of Blazor related tips and tricks! Checkout the side bar for a list of available tips."]</p>

<p>
    @Localizer["This page is managed by Cody Merritt Anhorn. "]<a href="https://twitter.com/CodyAnhorn" title="The location of Cody Merritt Anhorn's twitter, where he will post updates and posts." target="_blank" rel="nofollow noreferrer">
        Checkout Cody's Twitter
    </a>
</p>

<p>
    @Localizer["If you have any tips you want to share, go to the repository and submit it!"]
    <a href="https://github.com/canhorn/usingblazor.tips" title="The public source for the website usingblazor.tips. Build on Blazor, uses some fancy Static Site Generation. And deployed on Netlify!" target="_blank" rel="nofollow noreferrer">@Localizer["The Site Repository"]</a>
</p>
